
/* <link href="https://fonts.googleapis.com/css?family=Poppins|Source+Sans+Pro" rel="stylesheet"> */
/* font-family: 'Source Sans Pro', sans-serif; */
/* font-family: 'Poppins', sans-serif; */
/* ------------------------------------------------------------- */
/* ----- Global Styles ----- */
html {
  /* Box Model Fix */
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Cantarell', sans-serif;
  font-size: 0.95em;
  margin: 0;
}

a {
  color: Black;
}

a:hover {
  text-decoration: none;
}

h1, h2 {
  font-family: 'Dosis', sans-serif;
  font-weight: 400;
}


h2 {
  font-family: 'Cantarell'
  font-size: 40px;
  margin-top: 0;
}

h1 {
  font-size: 80px;
}

h3 {
  margin: 0;
}

.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 30px 50px;
  overflow: auto;
}

.uppercase {
  text-transform: uppercase;
}

.btn {
  text-decoration: none;
  background: white;
  padding: 10px;
  display: inline-block;
}

/* ------------------------------------------------------------- */
/* ----- Header and Footer ----- */
header, footer {
  background: #e5e5e5;
  color: Black;
}

/* header */
header {
  /* text-align: center; */
  padding-top: 20px;
  position: relative;
}

header h1, header h2 {
  color: Black;
  margin: 0;
}

.profile-img {
  border-radius: 50%;
}

.download {
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  background-color: #4a4e69;
}

/* footer */
footer {
  text-align: center;
}

.contact-info a {
  /* background: black; */
  padding: 10px;
  display: inline-block;
  font-size: 40px;/b
}

/* ------------------------------------------------------------- */
/* Navigation */
nav {
  text-align: center;
  background: #4a4e69;
  position: fixed;
  top: 0;
  width: 100%;
}

nav a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
}

/* ------------------------------------------------------------- */
/* ----- Work Experience ----- */
.work {
  background: white;
}

h3~p {
  margin: 0;
}

.job-description {
  margin-bottom: 25px;
}

.job-description p:first-of-type {
  margin-top: 0px;
  /* background: blue; */
}

/* ------------------------------------------------------------- */
/* ------------------------------------------------------------- */
/* ----- Skills ----- */
.skills {
  background: #E5E5E5;
}

h3~p {
  margin: 0;
}

/* .skill-description {
  margin-bottom: 0px;
}

.job-description p:first-of-type {
  margin-top: 0px;
}  */

/* ------------------------------------------------------------- */
/* ----- Education ----- */
.education {
  /* background: #ECF0F1;*/
  color: #E5E5E5;
  background: linear-gradient(rgba(20, 33, 61, 0.9),
    rgba(20, 33, 61, 0.7)),
    url(../images/boulder.jpg) no-repeat fixed;
  background-size: cover;
}

p+h3 {
  margin-top: 5px;
}

/* Media Queries */
@media (min-width: 900px){
  .col-narrow {
    width: 35%;
    float: left;
    padding: 20px;
    /* border: 1px solid black; */
  }

  .col-wide {
    width: 65%;
    float: left;
    padding: 20px;
    /* border: 1px solid black; */
    /* min-height: 175px; */
  }
}
@media (max-width: 899px) {
  header {
    text-align: center;
  }
  .profile-img {
    width: 200px;
  }
}
